<div id="<%= dom_id room %>">
  <h2>
    <%= room.name %>
  </h2>

  <%= form_with(model: @message) do |form| %>
    <p class="emoji-picker-container">
      <%= form.text_area :content, class: 'form-control', data: { emojiable: true } %>
    </p>
    <%= form.hidden_field :room_id, value: @room.id %>
    <br/>
    <%= form.submit "New message" %>
  <% end %>

  <p>
    <% room.messages.each do |message| %>
      <div><%= message.content %><div/>
    <% end %>
  </p>

</div>
